@use "../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  padding: variables.$spacing-small;

  @include variables.tablet-query {
    padding: variables.$spacing-large;
  }

  @include variables.tablet-query {
    padding: variables.$spacing-xlarge;
  }

  .error {
    &__message {
      line-height: variables.$line-height-expanded;
    }
  }
}
