@use "../../styles/variables";

.wrapper {
  border: 1px solid variables.$grey;
  border-radius: variables.$border-radius-large;
  padding: variables.$spacing-large;

  @include variables.tablet-query {
    width: 90%;
  }

  @include variables.desktop-query {
    width: 75%;
  }
}
